.test_height_grandpa {
  border: 2px solid red;
  height: 50px;

  .test_height_daddy {
    border: 2px solid blue;
    height: 200%;

    /* jak zakomentuje wartosc height w daddy to baby
    odwoła się do grandba a nie do daddy
    i zamiast być  100px to będzie 50px
     */

    .test_height_baby {
      border: 2px solid green;
      height: 100%;
    }
  }
}