.test_height_grandpa {
  background-color: red;
  height: 50px;

  .test_height_daddy {
    background-color: blue;
    height: 200%;

    /* baby odnosi sie do daddy, wiec by byc takie jak grandpa musi dostac 50% od daddy
     jak zakomentuje wartosc height w daddy to baby nie ma sie do czego odwołac - to sie tyczy procentow
     */

    .test_height_baby {
      background-color: green;
      height: 50%;
    }
  }
}